[user]
  name = Lucian Parfeni
  email = darcu.ro@gmail.com
[alias]
  st = status
  branches = branch -a
  last = log --name-status HEAD^..HEAD
  ok = rebase --continue
  whatever = rebase --skip
  mt = mergetool
  dt = difftool
  dts = difftool --staged
  ca = commit --amend
  c = commit
  p = pull
  f = fetch origin
  r = rebase
  rp = rebase --preserve-merges
  m = merge --no-ff --edit --log
  mff = merge --edit --log
  ri = rebase -i
  ck = checkout
  d = branch -D
  k = log --graph --decorate --pretty=oneline --abbrev-commit
  list = log --decorate --pretty=oneline --abbrev-commit
[core]
#	editor = subl -n -w
  editor = nano
  excludesfile = ~/.gitignore
[branch]
  autosetuprebase = always
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
[diff]
  tool = meld
[difftool]
  prompt = false
[merge]
  tool = meld
[mergetool]
  prompt = false
[gc]
  autoDetach = false
[includeif "gitdir:~/dev/hogarth/"]
  path = ~/dev/hogarth/.gitconfig
